    <h3><a id="menu_specjalisci">Nasi specjaliœci</a></h3>

    <div class="col-lg-3 contact"> 
        <img src="wp-content/themes/warmup/img/kontakt1.jpg" class="img-thumbnail contact_img">
        Osoba kontaktowa
    </div>
    <div class="col-lg-3 contact">
        <img src="wp-content/themes/warmup/img/kontakt2.jpg" class="img-thumbnail contact_img">
        Osoba kontaktowa
    </div>
    <div class="col-lg-3 contact">
        <img src="wp-content/themes/warmup/img/kontakt3.jpg" class="img-thumbnail contact_img">
        Osoba kontaktowa
    </div>
    <div class="col-lg-3 contact">
        <img src="wp-content/themes/warmup/img/kontakt4.jpg" class="img-thumbnail contact_img">
        Osoba kontaktowa
    </div>