{% extends "base.twig" %}

{% block content %}
    <article class="site" id="site-{{url}}">
        <section class="article-body">
            {{post.content}}
        </section>

    </article>

{% endblock %}
